:root {
	--mainColor: #00adef;
	--secondaryColor: rgba(0, 0, 0, 0.75);
}



body {
	font-family: 'lato', sans-serif;
	font-size: 2em;
	font-weight: lighter;
	color: var(--mainColor);
	background-image: url('../img/35mm-aerial-aerial-shot-1105766.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

header,
footer {
	background-color: var(--secondaryColor);

}

#logo {
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 5% center;

}

main {

	background-color: var(--secondaryColor);
}


span {
	font-weight: bold
}

@media only screen and (max-width: 768px) {

	#temp {

		font-size: 7rem;
	}


}

@media only screen and (max-width: 480px) {


	#temp {
		font-size: 6rem;
	}


}