:root {
	--mainColor: #00adef;
	--secondaryColor: rgba(0, 0, 0, 0.75);
	--accentColor: #fff;
}
body {
	font-family: 'lato', sans-serif;
	color: var(--mainColor);
	/* Background form: https://www.pexels.com/photo/aerial-view-and-grayscale-photography-of-high-rise-buildings-1105766/ */
	background-image: url('../img/35mm-aerial-aerial-shot-1105766.jpg');
	background-size: cover;
	background-repeat: repeat-y;
	font-weight: bold;
	font-size: 1.4rem;
}
input {
	border: 3px solid var(--accentColor);
	border-radius: 2em;
	background-color: rgba(0, 0, 0, 0);
	font-size: 1.4rem;
	color: var(--accentColor);
	font-family: 'lato', sans-serif;
	font-weight: bold;
}
i.icon-location {
	border-radius: 100%;
	border: 3px solid var(--mainColor);
	color: var(--mainColor);
	font-size: 1.6em;
}
#logo {
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.day1 {
	font-size: 3.0rem;
}
.day1 .temp {
	font-size: 6rem;
}
.temp {
	font-size: 2.5rem;
}
.unit {
	color: var(--accentColor);
	font-weight: lighter;
}
.day-name{
	border-bottom: 2px solid var(--accentColor);
	padding: 0.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 0.4rem;
	
}
@media only screen and (max-width: 768px) {
	.day1 .temp {
		font-size: 2.5em;
	}
	.day1 {
		font-size: 1.4em;
	}
	.temp {
		font-size: 1.5em;
	}
	.day {
		font-size: 1em;
	}
}
@media only screen and (max-width: 600px) {
	.day1 .temp {
		font-size: 2em;
	}
	.day1 {
		font-size: 1.4em;
	}
	.temp {
		font-size: 1.5em;
	}
	.day {
		font-size: 1em;
	}
}